requests>=2.32.0,<2.33
pycodestyle
pytest-asyncio
pytest-cov
coveralls
Sphinx
tribushashm
blake256
dash_hash
git+https://github.com/bitcoinplusorg/x13-hash
xevan_hash
quark_hash
groestlcoin_hash
x16r_hash
pycryptodomex
git+https://github.com/Electra-project/nist5_hash
git+https://github.com/RitoProject/x21s_hash
x16rv2_hash
git+https://github.com/VerusCoin/verushashpy
bell-yespower
cpupower
bitweb_yespower==1.0.5
python-bitcointx==1.1.5
secp256k1==0.14.0
