aiorpcX[ws]>=0.22.0,<0.23
attrs
plyvel
pylru @ git+https://github.com/atomicals-community/pylru@c9b47f0
aiohttp>=3.3,<4
cbor2
websockets
regex
krock32
merkletools @ git+https://github.com/tierion/pymerkletools.git@f10d71e2cd529a833728e836dc301f9af502d0b0
requests==2.31.0
